{% extends 'base.html' %}
{% block body %}
<div class="row equal">
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
    <div class="col-sm-6" style="color:#607d8b;background-color:white;" align="center">
        <div class="footer-widget">
                <br><br>
                <h2 align="center"><b>About Joe Ankus</b></h2>
                <div align="left" class="container">
                    <p>
<br><br>
                        Joe is a Florida attorney whose MHFA mission is both personal and professional- since 1991, he has been a legal recruiter for many of South Florida's prominent law firms after having worked with two AmLaw 100 firms- Dechert and Holland & Knight. He knows, firsthand, the pressures and stresses attorneys face on a daily basis. He has lived the “billable grind” and understands the lifestyles that attorneys often lead. He has credibility to teach attorneys MHFA because he is one himself.
<br><br>
                        Joe has successfully placed over 500 attorneys in his career and he believes that MHFA education correlates directly to his recruiting practice and as a lawyer.
<br><br>
                        Most recently, he was a member of the Florida Bar's Special Committee on Mental Health & Wellness whose mandate- in part- was to offer solutions to educate Florida attorneys on mental health education. On the Committee, Joe worked closely with members of the Judiciary, Bar staff, a psychiatrist, and other passionate attorneys in "moving the needle" to address the growing need for attorney mental health related education. After some research, Joe realized MHFA was a logical choice.
<br><br>
                        In his experience as both an attorney and as a recruiter, he has seen first-hand the urgent need for an evidence based, concise and user-friendly format for basic mental health education. Attorneys, as a profession, are under significant stress, have competing demands for their time and often untrained in basic mental health education. This gap needs to be addressed and MHFA is one part of a multi-faceted solution. Joe believes that the earlier MHFA is taught, the better off the overall legal community will be.
                </p><br><br><br></div>
        </div>
    </div>
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#b0bec5;">
    <br>
</div>
{% endblock %}

