{% extends 'base.html' %}
{% block body %}
<div class="row equal">
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
    <div class="col-sm-6" style="color:#607d8b;background-color:white;color:#0d47a1;" align="center">
        <div class="footer-widget">
                <br><br>
                <h2 align="center"><b>About Your Instructor</b></h2>
                <div align="left" class="container">
                    <p>
<br><br>
                        Joe Ankus’ MHFA mission is personal and professional.
<br><br>
                        He knows, firsthand, the pressures and stresses attorneys face on a daily basis. He has personally billed thousands of hours, worked on all-night projects, dealt with demanding clients, argued with irrational opposing counsel and truly understands the blessings and curses of the so-called “attorney lifestyle.” He is acutely aware of the high levels of anxiety, depression, substance use, bipolar disorder and suicide in our legal communities.
<br><br>
                        He has credibility and expertise to teach MHFA to attorneys because he is an attorney himself. He earned his JD, with honors, from the University of Florida. At UF, based on his academic performance, he was a member and Senior Editor of the Florida Law Review. He is also a member of the Florida Bar and a past member of the Pennsylvania and New Jersey Bars.
<br><br>
                        In addition, for over 25 years, as an Adjunct Professor at leading South Florida educational institutions, he has taught hundreds of professional and paraprofessional students a wide range of legal subjects- which has enhanced his presentation skills. Simply put, Joe loves to to teach and his students enjoy his straightforward and entertaining style.
<br><br>
                        Since 1991, Joe has been a legal recruiter for many of South Florida's most prominent law firms after having practiced with two AmLaw 100 firms- Dechert and Holland & Knight. Joe has successfully placed over 500 attorneys in his career and knows that his MHFA education correlates directly with his recruiting practice. He is nationally recognized among his peers and in the legal community about all aspects of legal recruiting, attorney retention and lateral hiring.
<br><br>
                        Most recently, he was selected to be a member of the Florida Bar's Special Committee on Mental Health & Wellness whose mandate- in part- was to offer solutions to educate Florida attorneys on mental health education. On the Special Committee, Joe worked closely with members of the Judiciary, Bar staff, a psychiatrist, and other passionate Florida attorneys in "moving the needle" to address the growing need for attorney mental health related education. After some discussion and research, Joe realized MHFA was a logical choice.
<br><br>
                        In his experience, he has seen first-hand the urgent need for an evidence based, concise and user-friendly format for basic mental health education. Attorneys, as a profession, are under significant stress, have competing demands for their time and are often untrained in fundamental mental health education. The Florida Bar, other state Bars and the ABA all point out that this educational gap needs to be addressed. Joe is confident that MHFA is one part of the multi-faceted solution. To this end, the earlier MHFA is taught, the better off we will all be.
<br><br>


                </p><br><br><br></div>
        </div>
    </div>
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#1976d2;">
    <br>
</div>
{% endblock %}

