{% extends 'base.html' %}
{% block body %}
<div class="row equal">
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
    <div class="col-sm-6" style="color:#607d8b;background-color:white;" align="left">
        <div class="footer-widget">
            <div class="container">
            <br><br>
            <h2 align="center"><b>AMHE, Inc. Participant Acknowledgement</b></h2>
            <br>
                <h4 align="center"><b><i>Please Read Carefully</i></b></h4>
            <br><br>
                <p>
                    Mental Health First Aid (MHFA) is a course most relevant in situations where it becomes apparent that people in your social or professional network are developing serious mental health problems and it may also provide useful information on how to assist a person who has a history of a mental disorder or longer term-mental health problems. The training, while intensive, is interesting, and challenging. Enjoy!
            <br><br>
                    By participating in the Mental Health First Aid Training provided by Attorney Mental Health Education, Inc., you understand and agree that:
            <br><br>
            </p>
            <ul>
                <li>
                    Your instructor is not a mental health professional, medical doctor, counselor or therapist and cannot provide any medical or psychological advice. Your instructor is certified by Mental Health First Aid USA. This course has been previously approved by the Florida Bar for 9.5 hours of CLE credit.
                </li>
                <li>
                    Your instructor is not providing any legal advice or any sharing attorney/client privilege as part of your Mental Health First Aid training. Please do not ask legal questions or offer legal opinions during the course.
                </li>
                <li>
                    Mental Health First Aid does not teach you how to diagnose, cure, counsel or treat mental illness. Only a licensed professional has the training, experience and knowledge to provide such services. In any situation you may reasonably determine to be imminently life threatening to any person(s), you agree to call 911 for emergency help and/or call other appropriate emergency resources- including medical or mental health professionals as you reasonably deem necessary.
                </li>
                <li>
                    You are prepared, emotionally and physically, to take Mental Health First Aid training.
                </li>
                <li>
                    You will keep all appropriate confidences shared and learned during the Mental Health First Aid training.
                </li>
                <li>
                    You can share personal information on a voluntary basis. If you share, please do not overshare. Identifying details about other people should be kept anonymous unless you have their express permission to discuss a particular situation with our group. Mental Health First Aid is not group therapy or a form of personal counseling in any manner.
                </li>
                <li>
                    You will review, read and keep for personal reference, your Mental Health First Aid training manual during and after our training.
                </li>
                <li>
                    You can take a break during training for any reason if you feel uncomfortable or need some time to reflect about the topics covered- including anxiety, depression, substance use, psychosis and suicide.
                </li>
                <li>
                    You will approach Mental Health First Aid with an open mind and willingness to consider viewpoints that may be different from your own.
                </li>
                <li>
                    You will do you part to help destigmatize mental illness and to reasonably use the Mental Health First Aid material to assist others who may be in need when you may deem it reasonably appropriate.
                </li>
            </ul>
            <br><br>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#b0bec5;">
    <br>
</div>
{% endblock %}