{% extends 'base.html' %}
{% block body %}
<div class="container-fluid" style="background-color:#1976d2;color:white;">
    <h4 align="center">Welcome To</h4>
    <h1 class='display-4' align="center"> Attorney Mental Health Education, Inc.</h1>
    <br>
</div>
<div class="row equal">
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
    <div class="col-sm-6" style="color:#0d47a1;background-color:white;" align="center">
        <div class="footer-widget">
            <br>
            <br>
             <div class="display-4" align="center">About Us</div>
<div class="container" style="color:#0d47a1;">

<p align="left">
    <br><br>
    Attorney Mental Health Education, Inc., ("AMHE") was incorporated in 2018 to provide Mental Health First Aid ("MHFA") training primarily to attorneys, law firms, in-house legal departments, law students and governmental agencies.<br><br>

    Our mission is to destigmatize mental illness and to educate attorneys in MHFA. Hundreds of thousands of individuals have been trained in MHFA. Due to the recent interest in mental health education, the number of participants is growing rapidly.
<br><br>
    AMHE's President, Joe Ankus, is a nationally certified MHFA instructor. He specializes in teaching MHFA to attorneys on a nationwide basis. Joe is an attorney and is not a therapist, clinician or mental health professional. MHFA is not used to diagnose, treat or counsel. Once trained in Joe’s eight hour class, a MHFA graduate has the basic tools necessary to be a potential bridge between someone who may be in crisis- before professional intervention- and to offer appropriate resources for self-help.
<br><br>
    MHFA respects a person's right to autonomy and self-determination- while at the same time- provides an evidence based protocol to help when appropriate. MHFA encourages compassionate, non-judgmental listening and sharing professional resources as circumstances may require.
<br><br>
    MHFA benefits everyone who takes it- and attorneys may well be called upon to use it for themselves, their colleagues, their co-workers, their clients, their friends and their families. The Florida Bar has, in the past, approved MHFA for 9.5 CLE credits.
</p>
<br>
    <br>
</div>
</div>
    </div>
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#1976d2;">
    <br>
</div>
{% endblock %}