{% extends 'base.html' %}
{% block body %}
<div class="row equal">
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
    <div class="col-sm-6" style="color:#0d47a1;background-color:white;" align="left">
        <div class="footer-widget">
            <div class="container">
            <br><br>
                <h3 align="center"><b><i>The MHFA program is eight hours long- and, as per MHFA requirements- it cannot be shortened or lengthened. It can, however, be offered over a two day period of four hours per day if desired.
                </i></b></h3>
            <br>
            <h4 align="center">Here is how our class is structured:</h4>
            <br><br>
            <h2><b><u>Session One- 4 hours</u></b></h2>
            <br>
            <h4><b>Session One- Part One (2 hours)</b></h4>
            <br>
            <ul>
            <li>
                Introduce MHFA, the training and your role as a Mental Health First Aider
            </li>
            <li>
                Give an overview of the prevalence and impact of mental health problems in the United States
            </li>
            <li>
                Introduce the Mental Health First Aid Action Plan (called “ALGEE”) and how it fits within the array of interventions available to address mental health problems
            </li>
            <li>
                Give an overview of the signs, symptoms and possible risk factors and warning signs of depression and anxiety
            </li>
            </ul><br>
            <h4 align="center"><b>BREAK</b></h4>
            <br><br>
            <h4><b>Session One- Part Two (2 Hours)</b></h4>
            <br>
            <ul>
            <li>
                Demonstrate the MHFA Action Plan for someone who is experiencing depressive symptoms or anxiety and may be in a crisis such as suicide or self-injury
            </li>
            <li>
                Explore how to respond to someone who is not in crisis but may benefit from the additional steps of LGEE
            </li>
            </ul><br><br>
            <h2><b><u>Session Two- 4 Hours</u></b></h2>
            <br>
            <h4><b>Session Two- Part One (2 Hours)</b></h4>
            <br>
            <ul>
            <li>Review contents of Session One</li>
            <li>
                Demonstrate the MHFA ALGEE Action Plan for people who are experiencing a panic attack and may be in crisis
            </li>
            <li>
                Demonstrate the MHFA ALGEE Action Plan for people who are experiencing a traumatic event and may be in crisis
            </li>
            <li>
                Give an overview of the risk factors and warning signs of psychotic disorders
            </li>
            <li>
                Demonstrate the MHFA ALGEE Action Plan for people with symptoms of psychosis or in a related crisis
            </li>
            </ul><br>
            <h4 align="center"><b>BREAK</b></h4>
            <br><br>
            <h4><b>Session Two- Part Two (2 Hours)</b></h4>
            <br>
            <ul>
            <li>Give an overview of the risk factors and warning signs of substance use disorders</li>
            <li>Demonstrate the MHFA ALGEE Action Plan for people with symptoms of a substance use disorder or related crisis</li>
            <li>Synthesize everything that has been learned in a concluding activity</li>
            <li>Complete the First Aider Exam</li>
            <li>Complete the course evaluation</li>
            </ul><br><br><br>
        </div>
        </div>
    </div>
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#1976d2;">
    <br>
</div>
{% endblock %}