{% extends 'base.html' %}
{% block body %}
<div class="row equal">
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
    <div class="col-sm-6" style="color:#0d47a1;background-color:white;" align="center">
        <div class="footer-widget">
            <div class="container">
            <br><br>
            <h2><b><u><i>IF APPROPRIATE- CALL 911 FOR MEDICAL OR POLICE EMERGENCIES! IN SOUTH FLORIDA, IF YOU CALL 911 FOR A MENTAL HEALTH ISSUE, ASK FOR A CRISIS INTERVENTION TEAM POLICE OFFICER (“CIT”) TO RESPOND. THEY ARE SPECIALLY TRAINED TO HELP! IF YOU CALL 911 IN OTHER JURISDICTIONS FOR A MENTAL HEALTH ISSUE, ASK IF THEY HAVE CIT OFFICERS AS WELL. </i></u></b></h2>
            <br><br>
            <h3><b><i>Florida Mental Health & Wellness Resources</i></b></h3>
            <br>
            <p>Broward County-Fort Lauderdale- 24 Hour Suicide/Mental Health Hotline- (954) 537-0211</p>
            <p>Dade County- Switchboard of Miami- 24 Hour Crisis/Suicide Prevention- (305)358-HELP (4357)</p>
            <p>South Florida Behavioral Health Network- Miami/Dade & Monroe County Mental Health & Drug Treatment (305) 858-3335</p>
            <p>South Florida Behavioral Health Network website www.sfbhn.org</p>
            <p>Miami Dade Homeless Trust (305) 375-CARE (2273)</p>
            <p>Miami Rescue Women (305) 571-2250</p>
            <p>Florida Lawyer's Assistance Program- www.fla-lap.org (954)941-6300 or (800) 282-8981</p>
            <p>Mental Health Resource Center- www.mhrcflorida.com</p>
            <p>National Alliance on Mental Illness of Florida- www.namifl.org</p>
            <p>www.211.org</p>
            <br><br>
            <h3><b><i>National Mental Health & Wellness Resources</i></b></h3>
            <br>
            <p>National Suicide Prevention Lifeline- 1-800-273-TALK (8255) 24 hours per day & Toll Free</p>
            <p>www.suicidepreventionlifeline.org</p>
            <p>1-800-SUICIDE (1-800-784-2433)</p>
            <p>National Helpline For Judges Helping Judges 1-800-219-6474</p>
            <p>American Bar Association Website- Mental Health & Wellness Resources at www.americanbar.org</p>
            <p>Alcoholics Anonymous (AA) 212-870-3400</p>
            <p>Cocaine Anonymous (CA) 310-559-5833</p>
            <p>Narcotics Anonymous (NA) (818)-773-9999</p>
            <p>Debtors Anonymous (DA) (800) 421-2383 US Only</p>
            <p>www.211.org</p>
            <br><br>
            <h4><b>Information Contained On This Webpage Is Current as of 1/24/18. Please use the Internet to verify as needed.</b></h4>
            <br><br>
        </div>
        </div>
    </div>
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#1976d2;">
    <br>
</div>
{% endblock %}